.products-card{
    background-color: white;
    width: 240px;
    height: auto;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 0.5rem;
    border: 2px solid var(--grisClaro);
    box-shadow: 0px 5px 10px 2px #ff347491;
}
.products-card .card-img .card-img-background{
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.products-card .card-name{
    text-align: center;
    padding: 10px;
}
.products-card .card-value{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
}
.products-card .card-discount{
    font-size: 25px;
    color: var(--grisOscuro);
}
.products-card .card-price{
    font-size: 30px;
}
.products-card .card-button{
    text-align: center;
}
.products-card .card-button button{
    background-color: var(--colorButtonContacto);
    color: white;
    width: 200px;
    border: none;
    margin: 0 auto 10px;
    text-transform: uppercase;
    padding: 10px;
    display: inline-block;
    margin-top: 10px;   
}
.products-card .card-button button:hover{
    background-color: var(--colorBase);
    color: var(--colorLetraPrincipal);
}
.products-card .card-button button a{
    color: white;
}
