/* Articulo */

.cart main {
    width: 90%;
    margin: 0 auto;
}
.cart main h1 {
    font-weight: 700;
    margin: 20px 0;
}
.cart section.none {
    display: none;
    background-color: transparent;
}
.cart section article{
    background-color: var(--Marta);
    width: 100%;
    border-bottom: 1px solid var(--Alfonzo);
    border-top: 1px solid var(--Alfonzo);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 5px 0 10px 0;
    margin-bottom: 20px;
    min-height: 135px;
}
.cart section article .imagenes{
    width: 25%;
} 
.cart section article .imagenes img{
    width: 100%;
    object-fit: cover;
}
.cart section article .detail {
    width: 73%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.cart section article .detail h4 {
    width: 100%;
    font-size: 16px;
    margin: 10px 0 5px 0;
}
.cart section article .añadir-elementos {
    display: flex;
    width: 50%;
    align-items: center;
}
.cart section article .añadir-elementos .restar,
.cart section article .añadir-elementos .agregar {
    background-color: var(--Alfonzo);
    font-size: 700;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    cursor: pointer;
}
.cart section article .añadir-elementos span {
    margin: 0 10px;
}
.cart section article .precio-descuento {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart section article .precio-descuento p {
    font-size: 14px;
    margin-bottom: 2px;
}
.cart section article .precio-descuento .precio-secundario {
    position: relative;
    text-decoration: line-through;
    color: gray;
}
.cart section article .precio-descuento .precio-secundario span {
    position: absolute;
    font-size: 10px;
    color: green;
    font-weight: 700;
}

/*Termina prueba aca*/

.products-card{
    background-color: white;
    width: 240px;
    height: auto;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 0.5rem;
    border: 2px solid var(--grisClaro);
    box-shadow: 0px 5px 10px 2px #ff347491;
}
.products-card .card-img .card-img-background{
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.products-card .card-name{
    text-align: center;
    padding: 10px;
}
.products-card .card-value{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
}
.products-card .card-discount{
    font-size: 25px;
    color: green;
}
.products-card .card-price{
    font-size: 30px;
}
.products-card .card-button{
    text-align: center;
}
.products-card .card-button button{
    background-color: var(--colorButtonContacto);
    color: white;
    width: 200px;
    border: none;
    margin: 0 auto 10px;
    text-transform: uppercase;
    padding: 10px;
    display: inline-block;
    margin-top: 10px;   
}
.products-card .card-button button:hover{
    background-color: var(--colorBase);
    color: var(--colorLetraPrincipal);
}
.products-card .card-button button a{
    color: white;
}
