header {
    position: relative;
    padding: 12px;
    margin-bottom: 20px;
    background-color: var(--colorHeader);
    z-index: 1 !important;
}

header input {
    display: flex;
    align-self: center;
    width: 44%;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    color: black;
}

header .top .form-search .formulario {
    display: flex;
    flex-wrap: nowrap;
}

header .top .form-search button {
    background-color: var(--colorHeader);
    border: none
}

header .top .lupa i {
    border: 1px solid black;
    border-radius: 50%;
    background-color: var(--colorProfundidad);
    padding: 5px
}

header .top {
    display: flex;
    align-items: center;
    background-color: var(--colorHeader);

}

header img {
    border: 2.5px solid var(--black);
    border-radius: 20%;
    background-color: white;
    width: 78px;
}

header .burger label {
    background-color: var(--colorProfundidad);
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 20px;
    padding: 15px 15px;
    color: var(--colorButton);
    border: 1px solid white;
    border-radius: 10px;
    display: inline-block;
}

header .carrito {
    display: none;
}

header .carrito i {
    color: var(--colorButton);
}


header .burger input:checked~nav {
    display: none;
}

header .burger input {
    display: none;

}

header .burger nav {
    width: 100%;
    display: block;
    margin-top: 10px;
    text-align: center;


}

header .burger nav ul {

    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

header .burger .menu {
    background-color: var(--colorHeader);
}

header .burger .user {
    background-color: var(--colorHeader);
}

header .burger nav ul li {
    margin: 10px 0;
    padding: 10px;
    list-style: none;
    border: 2px solid var(--colorButton);
    border-radius: 25px;
    background-color: var(--colorProfundidad);
}

header .burger nav ul li:hover {
    color: var(--colorProfundidad);
    border: 2px solid var(--colorProfundidad);
    background-color: var(--colorHeader)
}

header .burger nav ul .carritoli {
    display: none;
}

header .burger nav a {
    color: var(--colorHeader);
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}

header .burger nav a:hover {
    color: var(--colorProfundidad);
}

@media (min-width:375px) {
    header {
        position: relative;
        padding: 12px;
        margin-bottom: 20px;
        background-color: var(--colorHeader);
    }

    header input {
        display: flex;
        align-self: center;
        width: 45%;
    }

    header .top {
        display: flex;
        align-items: center;
        background-color: var(--colorHeader);

    }

    header img {
        border: 2.5px solid var(--black);
        border-radius: 20%;
        background-color: white;
        width: 78px;
    }

    header .burger label {
        background-color: var(--colorProfundidad);
        position: absolute;
        top: 20px;
        right: 15px;
        font-size: 20px;
        padding: 15px 15px;
        color: var(--colorButton);
        border: 1px solid white;
        border-radius: 10px;
        display: inline-block;
    }

    header .carrito {
        display: block;
        position: absolute;
        right: 73px;
        top: 37px;
        border: 1.5px solid var(--colorProfundidad);
        padding: 5px;
        border-radius: 5px;
    }

    header .carrito i {
        color: var(--colorButton);
    }


    header .burger input:checked~nav {
        display: none;
    }

    header .burger input {
        display: none;

    }

    header .burger nav {
        width: 100%;
        display: block;
        margin-top: 10px;
        text-align: center;

    }

    header .burger nav ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    header .burger .menu {
        background-color: var(--colorHeader);
    }

    header .burger .user {
        background-color: var(--colorHeader);
    }

    header .burger nav ul li {
        margin: 10px 0;
        padding: 10px;
        list-style: none;
        border: 2px solid var(--colorButton);
        border-radius: 25px;
    }

    header .burger nav a {
        text-transform: uppercase;
        font-size: 18px;
        text-decoration: none;
    }
}

@media (min-width:426px) {

    header {
        position: relative;
        padding: 12px;
        margin-bottom: 20px;
        background-color: var(--colorHeader);
    }


    header .carrito {
        position: absolute;
        right: 80px;
        top: 37px;
        border: 1.5px solid var(--colorProfundidad);
        padding: 5px;
        border-radius: 5px;
    }

    header .top img {
        border: 2.5px solid var(--black);
        display: flex;
        justify-content: center;
        background-color: white;
        border-radius: 25%;

    }

    header .burger nav {
        width: 40%;
        display: block;
        text-align: center;
        position: absolute;
        right: 10px;
        top: 84px;
    }
}

@media (min-width:680px) {
    header input {
        width: 80%;
    }
}


@media (min-width:980px) {
    header {
        height: 150px;
        display: flex;
        justify-content: space-between; /* error ancho de la página */
        align-items: center;
    }

    header input {
        display: flex;
        align-self: center;
        width: 157px;
    }

    header .top {
        width: 10%;
    }

    header .top img {
        border: 2.5px solid var(--black);
        border-radius: 20%;
        background-color: white;
        width: 110px;
    }

    header .carrito {
        display: none;
    }

    header .burger {
        width: 73%;
    }

    header .burger input:checked~nav {
        display: flex;
        flex-direction: row;
    }

    header .burger label {
        display: none;
    }

    header .burger nav {
        display: flex;
        flex-wrap: nowrap;
        width: 95%;
        position: inherit;
        margin-left: 35px;
    }

    header .burger nav ul {
        display: flex;
        flex-wrap: wrap;
    }

    header .burger nav ul.menu {
        flex-direction: row;
        justify-content: flex-start;

    }

    header .burger nav ul.user {
        flex-direction: row;
        justify-content: flex-end;

    }

    header .burger nav ul li {
        list-style: none;
        margin: 5px;
        padding: 5px;
        border: 1px solid var(--colorButton);
        border-radius: 10px;
    }

    header .burger nav ul .carritoli {
        display: block;
    }

    header .burger nav ul li a {
        font-size: 13px;
    }
}

@media (min-width:1080px) {
    header input {
        display: flex;
        align-self: center;
        width: 44%;
        border-radius: 20px;
        padding: 10px 100px;
        margin: 5px;
    }

    header .burger nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        position: inherit;
        margin: 0;
        margin-left: 30px;
    }

    header .burger nav ul li {
        list-style: none;
        margin: none;
        padding: 8px;
        border: 1px solid var(--colorButton);
        border-radius: 10px;
    }

    header .burger nav ul li a {
        font-size: 12px;
    }
}

@media (min-width:1240px) {
    header input {
        display: flex;
        align-self: center;
        width: 44%;
        border-radius: 20px;
        padding: 10px 130px;
        margin: 5px;
    }

    header .burger nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 95%;
        position: inherit;
        margin: 0;
        margin-left: 35px;
    }

    header .burger nav ul li {
        list-style: none;
        margin: 5px;
        padding: 10px;
        border: 1px solid var(--colorButton);
        border-radius: 10px;
    }

    header .burger nav ul li a {
        font-size: 13px;
    }
}

@media (min-width:1440px) {
    header input {
        display: flex;
        align-self: center;
        width: 44%;
        border-radius: 20px;
        padding: 10px 100px;
        margin: 5px;
    }

    header .burger nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        position: inherit;
        margin-left: 0;
    }

    header .burger nav ul li {
        list-style: none;
        margin: 5px;
        padding: 10px;
        border: 1px solid var(--colorButton);
        border-radius: 10px;
    }

    header .burger nav ul li a {
        font-size: 20px;
    }
}