.productCreate .row{
    width: 100%;
    justify-content: center;
}
.productCreate .col-4{
    width: 250px;
}
.productCreate .col-5{
    width: 50%
}

.productCreate small {
    margin-top: 5px;
    padding-left: 8px;
    font-size: 10.5px;
    color: rgb(148, 1, 1);
    background-color: #f7e7d9ee;
    width: 100%;
    border-radius: 2.5px;
    box-sizing: border-box;
  }

