/* Fuente a utilizar */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

:root {
    /* Colores */

    --colorLetraPrincipal:#332D2F;
    --colorletraSecundaria:#60575A;
    --colorHeader:#6E464D;
    --colorButton:#99898C;
    --colorBase:#BCBBC1;
    --colorProfundidad:#EED9D3;

    /*Tamaños de fuente */

}