/* Fuente a utilizar */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

:root{
    /* Colores */
    --colorLetraPrincipal:#332d2f;
    --colorletraSecundaria: #60575a;
    --colorHeader:#6e464d;
    --colorButton:#99898c;
    --colorBase: #bcbbc1;
    --colorProfundidad: #eed9d3; 

    /* Fuentes */
    --fuente: 'Merriweather', serf;
}
