<nav class="bc">
    <div class="breadcrumb flat">
        <a href="/">Home</a>
        <%-másSecciones%>
            <a class="active" aria-current="page">
                <%-página%>
            </a>
    </div>
</nav>