<!DOCTYPE html>
<html>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap-theme.min.css">
<!-- Custom styles for this template -->
<%- include('../partials/head',{title:'XL - usuarios'}) %>

  <body>
    <%- include('../partials/header') %>

<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><a href="/admin/users">Ver listado</a></li>
    <li><a href="/admin/addUser">Añadir usuario</a></li>
    <li class="active"><a href="/admin/modUser">Modificar usuario <span class="sr-only">(current)</span></a>
    </li>
    <li><a href="/admin/users">Eliminar usuario</a></li>
  </ul>
</div>
