<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/2a4118584d.js" crossorigin="anonymous"></script>
    <!-- Remixecon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- International telephone input -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.18/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.18/js/intlTelInput.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Ícono de la página -->
    <link href="/img/Logo-XL-sinFondo.png" tipe="image/x-icon" rel="shortcut icon">
    <!-- Título de la página -->
    <title>
        <%-title%>
    </title>
</head>