<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title:'Error 404'}) %>
<body>
    <h1>Lamentamos informarte que la pagina que estas buscando no existe "todavia"</h1>
</body>
</html>