<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="img/Logo-XL-sinFondo.png" tipe="image/x-icon" rel="shortcut icon">
    <!-- css -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/23d98b8a55.js" crossorigin="anonymous"></script>

    <title>Home</title>
</head>

<body class="home">
    <header>
        <div class="top">
            <div class="Logo"><img src="img/Logo-XL-sinFondo.png" alt="logo XL Distribuidora"></div>
            <input type="text" maxlength="100" placeholder="buscar productos,marcas"> <i class="fas fa-search"></i>
        </div>

        <div class="burger">
            <input type="checkbox" name="burger" id="burger" checked>
            <label for="burger"><i class="fas fa-bars"></i></label>
            <nav>
                <ul class="menu">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/productDetail">Nuestros Productos</a></li>
                    <li><a href="#somos">Quienes Somos</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
                <ul class="user">
                    <li><a href="/login">Inicia Sesion</a></li>
                    <li><a href="/register">Registrate</a></li>
                </ul>
            </nav>
        </div>
        <div class="carrito"><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></div>
    </header>

    <main>
        <div class="banner"><img src="img/XL-distribuidora.png" alt="perfume.png"></div>
        <section class="carrucelDestacados">
            <h1 class="destacado">Productos Destacados</h1>
            <article>
                <div class="producto"><img src="img/Glade1CF.jpeg" alt="Glade1CF"></div>
                <h2 class="nombreP"> Aromatizante de ambientes en aerosol </h2>
                <h3 class="precio">$316.10</h3>
                <button><a href="/productDetail">ver mas</a></button>
            </article>
            <article>
                <div class="producto"><img src="img/SaphirusCF.jpeg" alt="SaphirusCF"></div>
                <h2 class="nombreP"> Difusor automático (de velitas) </h2>
                <h3 class="precio">$216.00</h3>
                <button><a href="/productDetail">ver mas</a></button>
            </article>
            <article>
                <div class="producto"><img src="img/Glade2CF.jpeg" alt="Glade2CF"></div>
                <h2 class="nombreP"> Aromatizante de autos </h2>
                <h3 class="precio">$450.00</h3>
                <button><a href="/productDetail">ver mas</a></button>
            </article>
            <article>
                <div class="producto"><img src="img/Glade3CF.jpeg" alt="Glade3CF"></div>
                <h2 class="nombreP">Aromatizante en barra </h2>
                <h3 class="precio">$350</h3>
                <button><a href="/productDetail">ver mas</a></button>
            </article>
        </section>
        <section class="infoempresa">
            <article id="somos" class="info">

                <h3 class="XL">la empresa XL:</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut illum ea debitis et fuga aut
                    doloremque, eius tempora cum eveniet blanditiis assumenda totam obcaecati alias perferendis beatae
                    corporis laboriosam dicta. </p>


            </article>
            <div class="video"><iframe width="100%" src="https://www.youtube.com/embed/a4_qWzISsOc"
                    title="Cómo hacer un perfume - Amazing Perfume Factory | How Perfume Is Made In Factory ➤#1 "
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe></div>
        </section>



        <section class="carrucelOfertas">
            <section class="carrucelDestacados">
                <h1 class="oferta">Productos En Oferta</h1>
                <article>
                    <div class="producto"><img src="img/XL-Esencia.jpeg" alt="Esecia.png"></div>
                    <h2 class="nombreP"> Esencia Pura por 50ml</h2>
                    <h3 class="precio">$1500</h3>
                    <p class="descuento">10%</p>
                    <button><a href="/productDetail">ver mas</a></button>
                </article>
                <article>
                    <div class="producto"><img src="img/XL.jpeg" alt="difusor.jpeg"></div>
                    <h2 class="nombreP"> Difusor automático (de velitas)</h2>
                    <h3 class="precio">$150</h3>
                    <p class="descuento">25%</p>
                    <button><a href="/productDetail">ver mas</a></button>
                </article>
            </section>
        </section>
        <section class="contacto" id="contacto">
            <article class="contact">

                <h2>contacto</h2>
                <form action="" method="get">
                    <div class="container bottom">
                        <label for="name">Nombre</label>
                        <input type="text" name="name" id="name" placeholder="Ingresa tu nombre" required>
                        <small>Debe ingresar su nombre</small>
                    </div>
                    <div class="container bottom">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="Ingresa tu email">
                        <small>Debe ingresar su email</small>
                    </div>
                    <div class="container bottom">
                        <label for="telefono">Telefono</label>
                        <input type="number" name="telefono" placeholder="Ingresa tu numero de telefono">
                        <small>Debe ingresar su numero de telefono</small>
                    </div>
                    <div class="container bottom">
                        <textarea class="bottom" name="comentarios" id="comentarios" cols="30" rows="10"
                            placeholder="Escribi tu consulta"></textarea>
                    </div>

                    <button type="submit">enviar</button>
            </article>
            <div class="envio"><img src="img/envioATodoElPais-removebg-preview.png" alt=""></div>

        </section>

    </main>

    <footer>
        <section class="final">
            <div class="mapa"><iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3268.0580002735587!2d-58.119871973046905!3d-35.00525319999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2c4a3bb9757a7%3A0x81f213eda6568b50!2sParque%20Industrial%20La%20Plata!5e0!3m2!1ses-419!2sar!4v1657887702221!5m2!1ses-419!2sar"
                    width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            <div class="ulfinal">
                <div class="logoFooter"><img src="img/Logo-distribuidora-de-esencias.jpeg" alt="logo XL Distribuidora">
                </div>

                <nav>
                    <ul class="menu">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/productDetail">Nuestros Productos</a></li>
                        <li><a href="#somos">Quienes Somos</a></li>
                        <li><a href="#contacto">Contacto</a></li>
                    </ul>
                </nav>
            </div>

        </section>
    </footer>
</body>

</html>