<!DOCTYPE html>
<html lang="es">
    
<%- include('./partials/head',{title:'XL - Carrito de Compras'}) %>

    <body class="cart">
        <%- include('./partials/header') %>
            <section class="producto">
                <table>
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre de producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="imagen">
                                    <img src="/img/producto glade.webp" alt="producto1">
                                </div>
                            </td>
                            <td>
                                <h4>Aromatizante de ambientes en aerosol</h4>
                            </td>
                            <td>
                                <div class="boton2">
                                    <button>-</button>
                                    <input class="" type="number" value="1" min="1" step="1">
                                    <button>+</button>
                                </div>
                            </td>
                            <td>
                                <span class="precio">$326.10</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="imagen">
                                    <img src="/img/Aromatizante en barra.webp" alt="">
                                </div>
                            </td>
                            <td>
                                <h4>Aromatizante en barra</h4>
                            </td>
                            <td>
                                <div class="boton2">
                                    <button>-</button>
                                    <input class="" type="number" value="1" min="1" step="1">
                                    <button>+</button>
                                </div>
                            </td>
                            <td>
                                <span class="precio">$350</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="Compra">
                    <a href=""><i class="fas fa-ban"></i></a>
                    <a href="">Seguir comprando</a>
                </div>
            </section>
            <section class="precios">
                <div class="postal">
                    <button class="boton">Calcular envio</button>
                    <input type="number" name="envio" id="envio" placeholder="Ingresa tu código postal">
                </div>
                <h3>Subtotal</h3>
                <p>$0</p>
                <h3>Total con envio</h3>
                <p class="precioFinal">$626.10</p>
                <button class="compraa">Comprar productos </button>
            </section>
            <section class="relacionado">
                <h5>Productos relacionados</h5>
                <article>
                    <div class="imagenRelacionada">
                        <img src="/img/difusor.webp" alt="">
                    </div>
                    <h4>Difusor automatico</h4>
                    <span>Aromatizante de ambientes con fragancia bebe</span>
                    <p>$216.00</p>
                    <button>Agregar al carrito</button>

                </article>
                <article>
                    <div class="imagenRelacionada">
                        <img src="/img/aqua fresh auto sport.jpg" alt="">
                    </div>
                    <h4>Aromatizante de auto</h4>
                    <span>Aromatizante automatico de autos fragancia acqua</span>
                    <p>$450.00</p>
                    <button>Agregar al carrito</button>
                </article>
                <article>
                    <div class="imagenRelacionada">
                        <img src="/img/Aromatizante en barra.webp" alt="">
                    </div>
                    <h4>Aromatizante en barra</h4>
                    <span>Aromatizante con aroma floral </span>
                    <p>$350.00</p>
                    <button>Agregar al carrito</button>
                </article>
                <article>
                    <div class="imagenRelacionada">
                        <img src="/img/lisoform.jpg" alt="lisoform">
                    </div>
                    <h4 class="">Lisoform</h4>
                    <span class="">Desinfectante de ambientes aroma lavanda</span>
                    <p class="">$221.50</p>
                    <button class="">Agregar al carrito</button>
                </article>
            </section>
            <%- include('./partials/footer') %>
    </body>

</html>