<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <section>
        <div>
            <img src="/img/producto glade.webp" alt="producto glade">
        </div>
        <h4>Aromatizante de ambientes en aerosol</h4>
        <h5>$326.10</h5>
        <div class="">
            <input type="button" value="-">
            <input class="" type="number" value="1" min="1" step="1">
            <input type="button" value="+">
        </div>
        <a href="">Eliminar</a>
        <a href="">Mas productos del vendedor</a>
        <p>Aroma de placer floral y frutos rojos. 
            Modo mas práctico de perfumar tu hogar de forma continúa.
        
        </p>
        <p>Beneficios: Cuenta con un contenedor ajustable simplemente gira para controlar la intensidad de
            fragancia de acuerdo a su preferencia o tamaño de tu habitación.</p>
    </section>
    <section>
        <h3>Productos relacionados</h3>
        <article>
            <div>
                <img src="/img/difusor.webp" alt="">
            </div>
            <h4>Difusor automatico</h4>
            <h4>Aromatizante de ambientes con fragancia bebe</h4>
            <p>$216.00</p>
            <button>Agregar al carrito</button>

        </article>
        <article>
            <div>
                <img src="/img/aqua fresh auto sport.jpg" alt="">
            </div>
            <h4>Aromatizante de auto</h4>
            <h4>Aromatizante automatico de autos fragancia acqua</h4>
            <p>$450.00</p>
            <button>Agregar al carrito</button>

        </article>
        <article>
            <div>
                <img src="/img/Aromatizante en barra.webp" alt="">
            </div>
            <h4>Aromatizante en barra</h4>
            <h4>Aromatizante con aroma floral </h4>
            <p>$350.00</p>
            <button>Agregar al carrito</button>

        </article>
    </section>

</body>

</html>