<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/2a4118584d.js" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>XL-Distribuidor de esencias</title>
</head>

<body class="resetPassword">
    <%- include('./partials/header') %>
    <main>
        <h1>Restablecer contraseña</h1>
        <%- include('./partials/breadcrumbs',{página:'Restablecer Contraseña'}) %> 
        <section class="card">
            <form class="form-resetPassword" action="" method="post">
                <div class="container bottom">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Email">
                    <small>Debe ingresar un email válido</small>
                </div>
                <div class="sendEmail-button">
                    <button type="submit">Enviar</button>
                </div>
                <div class="form-status">
                    <h5>Ingresa tu email con el que te registraste y en unos minutos te llegará un email para que puedas
                        generar una nueva clave.</h5>
                </div>
            </form>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>