<nav class="breadcrumbs">
    <ul>
        <li class="crumb"><a href="/">Home</a></li>
        <li class="divider"> > </li>
        <li class="crumb-active" aria-current="page"><%- página %></li>
    </ul>
</nav>