<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Logo icono superior-->
    <link href="/public/img/Logo-XL-sinFondo.png" type="image/x-icon" rel="shorcut icon" />
    <!--CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <!--Titulo del proyecto-->
    <title><%-title%></title>
    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/255d30c95a.js" crossorigin="anonymous"></script>
</head>
