<header>
    <div class="top">
        <div class="Logo"><img src="/img/Logo-XL-sinFondo.png" alt="logo XL Distribuidora"></div>
        <input type="text" maxlength="100" placeholder="buscar productos,marcas"> <i class="fas fa-search"></i>
    </div>

    <div class="burger">
        <input type="checkbox" name="burger" id="burger" checked>
        <label for="burger"><i class="fas fa-bars"></i></label>
        <nav>
            <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/products/detail">Nuestros Productos</a></li>
                <li><a href="/#somos">Quienes Somos</a></li>
                <li><a href="/#contacto">Contacto</a></li>
            </ul>
            <ul class="user">
                <li><a href="/users/login">Inicia Sesion</a></li>
                <li><a href="/users/register">Registrate</a></li>
            </ul>
        </nav>
    </div>
    <div class="carrito"><a href="/products/cart"><i class="fas fa-shopping-cart"></i></a></div>
</header>