<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head',{title:'XL - Error 404'}) %>

    <body>
        <h1>ERROR 404</h1>
        <h2>Lamentamos informarte que la página que estas buscando no existe aún</h2>
    </body>


</html>