<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head',{title:'XL - Error 404'}) %>

    <body class="error">
        <%- include('./partials/header') %> 
        <h1>ERROR 404</h1>
        <h2>Lamentamos informarte que la página que estas buscando no existe aún</h2>
       <div class="errorcito">
         <img src="img/imgBack/frasquito roto.jpg" alt="error frasco roto">
       </div>




        <%- include('./partials/footer') %> 
    </body>


</html>