.profile {
    line-height: 1.5;
}

.profile main h1 {
    text-align: center;
    font-weight: 500;
    margin: 0px 20px 20px;
    font-size: 35px;
    border-bottom: 1px solid #4d4d4d;
}

.profile main h3 {
    font-weight: 430;
    font-size: 18px;
    margin: 5px 0px;
}

.profile main h4 {
    text-align: center;
    font-weight: 420;
    font-size: 16px;
    margin: auto;

}

.profile main p {
    text-align: center;
    font-weight: 320;
    font-size: 13px;
    margin: 7px 0px;
}

.profile main .breadcrumbs {
    padding: 0.5rem;
    border-top: 1px solid #4d4d4d;
    font-size: 12px;
    line-height: 20px;
}

.profile main .breadcrumbs ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.profile main .breadcrumbs ul li {
    display: inline-block;
    color: var(--grisClaro);
}

.profile main .breadcrumbs ul li a {
    color: var(--grisOscuro);
    display: block;
    text-decoration: none;
}

.profile main .breadcrumbs ul li a:hover {
    text-decoration: underline;
    color: var(--black);

}

.profile main .card {
    border-radius: 0.5rem;
    border: 2px solid var(--grisClaro);
    margin-bottom: 15px;
    margin: 5%;
    padding: 0.5rem;
    box-shadow: 0px 2px 10px 6px   #ff347491;
    background-color: var(--gray);
}

.profile main .card ul {
    margin: 0;
    list-style: none;
}


.profile main .labelinput{
    display: none;
    
}

.profile main .img .selectImg img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}